{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="masthead py-5">
  <div class="container text-white">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <h1 class="display-4">{{ post.title }}</h1>
        <p class="lead">{{ post.author }} | {{ post.created_on }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col card mb-4">
      <div class="card-body">
        <p class="card-text">{{ post.content | safe }}</p>
        <div class="post-actions mt-3">
          <form action="{% url 'post_like' post.slug %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-thumbs-up"></i> Like ({{ post.likes.count }})
            </button>
          </form>
          <form action="{% url 'post_dislike' post.slug %}" method="POST" class="d-inline ms-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">
              <i class="fas fa-thumbs-down"></i> Dislike ({{ post.dislikes.count }})
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Displaying count of comments -->
  <div class="row">
    <div class="col-12 mb-3">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr />
    </div>
  </div>

  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-4">
        <h3 class="card-header">Comments:</h3>
        <div class="card-body">
          {% for comment in comments %}
          <div class="p-2 comments {% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
            <p class="font-weight-bold">
              {{ comment.author }}
              <span class="font-weight-normal"> {{ comment.created_on }} </span>
              wrote:
            </p>
            <div id="comment{{ comment.id }}">
              {{ comment.body | linebreaks }}
            </div>
            {% if not comment.approved and comment.author == user %}
            <p class="approval">This comment is awaiting approval</p>
            {% endif %}
            {% if user.is_authenticated and comment.author == user %}
            <button class="btn btn-danger" comment_id="{{ comment.id }}" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            <button class="btn btn-warning" comment_id="{{ comment.id }}">Edit</button>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Creating New Comments -->
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Leave a comment:</h3>
          <p>Posting as: {{ user.username }}</p>
          <form id="commentForm" method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn btn-primary btn-lg">Submit</button>
          </form>
          {% else %}
          <p>Log in to leave a comment</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Social Sharing and Copy Link -->
  <div class="row">
    <div class="col-md-12">
      <h3>Share this post:</h3>
      <div class="social-sharing">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="btn btn-facebook">
          <i class="fab fa-facebook-f"></i> Share on Facebook
        </a>
        <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank" class="btn btn-twitter">
          <i class="fab fa-twitter"></i> Share on Twitter
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}" target="_blank" class="btn btn-linkedin">
          <i class="fab fa-linkedin-in"></i> Share on LinkedIn
        </a>
        <button id="copyLink" class="btn btn-purple copy-link-button">
          <i class="fas fa-copy"></i> Copy Link
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/likeDislike.js' %}"></script>
<script src="{% static 'js/social.js' %}"></script>
{% endblock %}
